{% extends "layout.html" %}
{% block content%}

<div class="container-fluid mt-3">
    <h3 class="text-center">Pagina inicial</h3>
    <script>
        console.log("Opening the SSE connection")
        var source = new EventSource("/progress");
        source.onmessage = function(event) {
            sent_data = JSON.parse(event.data)
            console.log(sent_data)
            var done = true
            for (i in sent_data) {
                console.log(i, sent_data[i])
                // data received is in the form : {'0':value, '1':value}
                qi = "#prog_"+i
                $(qi).css('width', sent_data[i]+'%').attr('aria-valuenow', sent_data[i]);
                lqi = qi+"_label"
                $(lqi).text(sent_data[i]+'%');
                if (sent_data[i] < 99)
                    done = false
            }
            if(done){
                console.log("Closing the SSE connection")
                source.close()
            }
        }
    </script>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        <form method="GET" action="{{ url_for('home') }}">
            <h3>Cotação do ativo :{{cotacao}}</h3>
            <div class="col">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Atualizar cotação</button>
                </div>
            </div>
        </form>
    </div>

    {% for bar in range(0,1) %}
    <div class="progress" style="width: 50%; margin: 50px;" >
        <div class="progress-bar progress-bar-striped " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="prog_{{bar}}">
            <span class="progress-bar-label" id="prog_{{bar}}_label">0%</span>
        </div>
    </div>
    {% endfor %}

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {%for num in numeros%}
        <div class="col">
            <div class="card">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                <div class="card-body">
                    <h5 class="card-title">Card title({{num}})</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>
</div>
</div>
{% endblock%}