{% extends "layout.html" %}
{% block content%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script>-->
<!--        function getRealTimeData() {-->
<!--            $.ajax({-->
<!--                url: '/get_real_time_stock_price', // Rota Flask para obter os dados em tempo real-->
<!--                type: 'GET',-->
<!--                success: function(data) {-->
<!--                    $('#real-time-data').html(data); // Atualize o elemento com os dados-->
<!--                }-->
<!--            });-->
<!--        }-->
<!--        // Atualize os dados a cada 5 segundos (ou conforme necessário)-->
<!--        setInterval(getRealTimeData, 5000); // 5 segundos-->
<!--    </script>-->

<script>
function atualizarValores() {
        fetch('/get_real_time_stock_price')
            .then(response => response.json())
            .then(data => {
                const listaAtivos = document.getElementById('ativos');
                listaAtivos.innerHTML = '';
                for (const symbol in data) {
                    const preco = data[symbol].preco_atual;
                    const corVar = data[symbol].cor_variacao;
                    const variacao = data[symbol].variacao;
                    const item = document.createElement('li');
                    item.innerHTML = `<label>${symbol}: ${preco}</label><span class="${corVar}">${variacao}</span>`;
                    listaAtivos.appendChild(item);
                }
            });
    }

    setInterval(atualizarValores, 5000); // Atualizar a cada 30 segundos
    atualizarValores(); // Atualize imediatamente ao carregar a página
</script>


<link rel="stylesheet" type="text/css" href="static/progress.css">
<body>
    <h1>Dados em Tempo Real da Ação AAPL</h1>
    <ul id="ativos">
    </ul>
</body>


{% endblock%}